altair
asttokens
attrs
backcall
beautifulsoup4==4.13.3
bleach==6.2.0
blinker
Bottleneck
Brotli
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml==0.7.1
docopt==0.6.2
exceptiongroup
executing
fastjsonschema==2.21.1
fonttools
gitdb
GitPython
idna
importlib_metadata
ipykernel
ipython==8.12.3
ipython_pygments_lexers
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments==0.3.0
kiwisolver
markdown-it-py
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
mdurl
mistune==3.1.2
mkl-service==2.4.0
mkl_fft
mkl_random
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio
numexpr
numpy
packaging
pandas
pandocfilters==1.5.1
parso
pickleshare
pillow
pipreqs==0.5.0
platformdirs
plotly
prompt_toolkit
protobuf==4.25.3
psutil
pure_eval
pyarrow
pydeck
Pygments
pyparsing
PyQt6==6.7.1
PyQt6_sip
PySocks
python-dateutil
pytz
pywin32==308
PyYAML
pyzmq
referencing
requests
rich
rpds-py
scikit-learn
scipy
seaborn
sip
six
smmap
soupsieve==2.6
stack_data
streamlit
streamlit-option-menu==0.4.0
tenacity
threadpoolctl
tinycss2==1.4.0
toml
toolz
tornado
traitlets
typing_extensions
tzdata
unicodedata2
urllib3
watchdog
wcwidth
webencodings==0.5.1
win-inet-pton
yarg==0.1.9
zipp
